/* get started page */

.welcome-page{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
}
.app-name{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 57px;
}
.icon-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn a{
    width: 10rem;
    border: outset #f9f06f 2px;
    border-radius: 6px;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    cursor: pointer;
    background-color: yellow;
    color: rgba(0, 0, 0, 0.64);
}
.start-btn a:hover{
    color:crimson;
    background-color:rgb(255, 166, 0) ;
}
.vector{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* data entry pages */

.page{
    width: 85%;
    max-width: 800px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 0px;
    text-align:center;
    /* box-shadow: 0 0 20px #000000; */
    box-shadow:0 0 20px #bbb12dea;     
    display: none;   
}
.page-heading{
    margin-top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
}
.txtb{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    margin: 12px 0;
    padding: 8px 14px;
    border-radius: 20px;
}
.txtb label{
    display: ruby-base;
    text-align: left;
    color: #3333;
    font-size: 14px;
}
.txtb input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn a{
    display:block;
    background:  #f9f06f;
    padding: 4px 0;
    border: outset #f9f06f 2px;
    border-radius: 6px;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.64);
    cursor: pointer;
    margin-top: 6px;
    width: 100%;

}
a:hover{
    color:crimson;
    background-color:rgb(255, 136, 0) ;
}