<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Helios</title>
    <link rel="stylesheet" href="prajwal.css"/>
</head>
<body>

    <section class="welcome-page">
        <div class="app-name">
            <img src="images/PRAJWAL.png" />
        </div>
        <div class="icon-pic">
            <img src="images/icon.png"  >
         </div>
         <div class="btn">
            <a href="Getstarted.html">Get Started</a>
         </div>
         <div class="vector">
            <img src="images/vector1.svg"/>
        </div>
    </section>

    <script src="prajwal.js"></script>
</body>
</html>